@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montez&family=Montserrat:wght@500&family=Pacifico&family=Poppins:wght@200&family=Source+Sans+Pro:wght@300;400;600&display=swap');
body {
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/images/bg.png');
}

.upper-body {
    width: 100%;
    height: 12%;
}

a {
    text-decoration: none;
    color: white;
}

.logo-container {
    padding-top: 2%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}

.main-body {
    height: 50%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-container {
    width: 40%;
    height: 92%;
    background-color: white;
    border-radius: 45px;
    display: flex
}

.left-main-card {
    padding: 20px;
    width: 55%;
}

.upper-left-main {
    width: 70%;
    font-size: 26px;
    padding: 0% 10% 0% 10%;
}

.spacer {
    width: 70%;
    margin-left: 10%;
    height: 7px;
    background-color: #C4C4C4;
    border-radius: 10px;
}

.button {
    height: 100px;
    width: 70%;
    border-radius: 50px;
    background-color: #05667B;
    display: grid;
    place-items: center;
    margin-top: 8%;
    margin-left: 10%;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.swiper {
    width: 100%;
    padding-left: 5%;
}

.slide {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 40px;
    display: flex;
}

.left-second-card {
    height: 70%;
    width: 45%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    justify-content: space-evenly;
}

.slide h1,
.slide p {
    margin: 0;
}

.time {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.right-second-card {
    width: 55%;
    height: 100%;
    display: grid;
    place-items: center;
}

#datepicker {
    max-width: 700px;
    height: 500px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.68) 0%, rgba(255, 255, 255, 0.58) 100%);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    overflow: hidden;
}

.exercices {
    margin-top: 5vh;
    margin-left: 5%;
    height: 90vh;
    width: 35%;
    border-left: 1px solid #05667B;
    padding: 0px 0px 30px 30px;
    overflow-y: scroll;
    color: #05667B
}

.exercices h1 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.exercice-card {
    height: 15%;
    width: 95%;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-preview {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right-preview {
    position: relative;
}

.button-start {
    height: 10vh;
    width: 20vw;
    background-color: #05667B;
    position: absolute;
    bottom: 7%;
    right: -10px;
    border-radius: 50px;
    color: white;
    display: grid;
    place-items: center;
}

.main-app {
    display: flex;
    padding: 30px;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -130px;
}

.camera-spot {
    height: 70%;
    width: 60%;
    border: 1px solid #05667B;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 20px;
    overflow: hidden;
}

.camera-spot canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.output {
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

iframe {
    border-radius: 30px;
    border: none;
}

.progress-card {
    height: 40%;
    width: 60%;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}

.progress-card h1 {
    font-size: 45px;
}

.progress-card p {
    color: #05667B;
    font-size: 26px;
}

.progress-charts {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#donut {
    height: 150px;
    width: 150px;
    color: #05667B;
    position: relative;
}

#donut h1 {
    position: absolute;
    font-size: 30px;
    top: 25%;
    left: 25%;
}

.time-adder {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.time-adder p {
    font-size: 24px;
}

.middle-exo {
    margin-top: 3%;
    width: 37%;
    text-align: center;
}

.middle-exo h1 {
    margin: 0;
}